// ------------  header variables -- Colors
$header-bgcolor: #2b2b2b;
$header-text-color: #fff;
$navbar-bgcolor: #4D4D4D;
$main-menu-item-text-color: #abaaaa;
$mobile-navigation-border-color: #e7e7e7;
