@import "partials/bruczek-variables";
@import "partials/header";
@import "partials/footer";


a:focus{
  outline: 0px auto -webkit-focus-ring-color;
}

.content-wrapper {
  margin: 0;
  padding: 0;
}
.box-header{
  border-bottom: 2px solid $box-border-color;
  padding-bottom: 10px;
}

.button-grey{
  background-color: #444444;
}
.text-white{
  color: #fff;
}
.content-baner{
  float: left;
}
.jumbotron-buttons{
  float: right;
  margin-top: 45px;
}
.jumbotron-content-wrapper{
  width: 50%;
  float: left;
  margin-top: 20px;
}
.content-baner{
  margin: 20px 0;
  background: linear-gradient(
                  rgba(102, 195, 0, 0.45),
                  rgba(102, 195, 0, 0.45)
  ), url($jumbotron-background-image);
  min-height: 230px;
}
.front-boxes-wrapper .front-box img {
  padding: 0;
  border-radius: 0;
  width: 98%;
  margin: 4px;
  max-height: 250px;
  min-height: 250px;
}
.light-gray{
  background-color: #1c1c1c;
}
@media screen and (min-width: $screen-lg){
  #metaslider_37 .slides > li > img{
    max-height: 500px;
  }
  .content-wrapper{
    max-width: 1200px;
    margin: 0 auto;
  }
  .jumbotron-content{
    max-width: 1200px;
    margin: 0 auto;
  }
  .front-boxes-wrapper {
    @include make-row;
  }
}
@media screen and (min-width: $screen-md){
  .content-baner{
    float: left;
    width: 100%;
  }
  .container-fluid .jumbotron{
    border-radius: 0;
  }
}
@media screen and (min-width: $screen-sm){
  .content-baner{
    float: left;
    width: 100%;
  }
  .container-fluid .jumbotron{
    border-radius: 0;
  }
}
@media (min-width: $screen-xs) and (max-width: $screen-sm){
  .front-boxes-wrapper .front-box img{
    width: 370px;
    margin: 0 calc((100% - 370px)/2);
    height: auto;
  }
  .box-header{
    text-align: center;
  }
  .front-box p {
    padding: 0 10%;
  }
  .metaslider .slides img{
    min-height: 350px;
  }
}

@media screen and (max-width: $screen-xs){
  .metaslider .slides img{
    min-height: 260px;
  }
}